.reviews__article {
  max-width: 718px;
  width: 100%;
  background-color: #fff;

  padding: 32px 26px 72px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .reviews__article {
    height: 100%;
    
    padding: 55px 88px 72px;

    opacity: 0.4;
  }
}
