.reviews__article {
  max-width: 718px;
  background-color: #fff;

  padding: 32px 26px 72px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .reviews__article {
    padding: 55px 88px 72px;
  }
}
