.section-title {
  font-family: 'NeueMachina', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -1px;
  color: #242424;
  margin: 0;
}

@media screen and (min-width: 830px) {
  .section-title {
    font-size: 40px;
    line-height: 1;
  }
}
