.footer__logo {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 33px;
}

/* @media screen and (min-width: 900px) {
  .footer__logo {
    max-width: 93px;
    max-height: 80px;
    position: absolute;
    top: 42px;
    left: 32px;
  }
} */
