.topnav__buttons {
  margin: 0;
  padding: 69.5px 0 0 54px;
  width: 50vw;
  min-width: 361px;
  max-width: 383.6px;
  display: flex;
  flex-direction: column;
  align-self: end;
}

.topnav__buttons .topnav__button:first-child {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .topnav__buttons {
    padding: 0;
    min-width: max-content;
    max-width: calc(164px - 37px);
    order: 4;
  }

  .topnav__buttons .topnav__button:first-child {
    display: none;
  }

  .topnav__buttons .topnav__button {
    padding: 18px 20px 18px 17px;
    border-top: none;
    border-bottom: none;
  }

  /* TODO: animation plus.svg */
  .topnav__buttons .topnav__button:nth-child(2)::before {
    content: url("../../../images/header/plus.svg");
    width: 25px;
    height: 25px;
  }
}
