.share__image {
  margin-bottom: 25px;
  padding-bottom: 61%;
  background-image: url(../../../images/share/share-photo-bw.png);
  background-size: 140%;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .share__image {
    max-width: 1320px;
    margin: 0 auto 57px;
    padding-bottom: 28.1%;
    background-size: 100%;
    box-shadow: none;
  }
}
