.topnav__button {
  
  width: 100%;
  border-right: none;
  box-sizing: border-box;
  transition: 0.2s;
}

.topnav__button:hover .topnav__button-link {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .topnav__button {
    padding: 0;
    font-size: 14px;
    line-height: 1.21;
  }
}
