.topnav__menu {
  padding-top: 48px;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background-color: #ecebe8;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.topnav__menu.opened {
  display: flex;
}

@media screen and (min-width: 768px) {
  .topnav__menu {
    padding: 0 0 0 30px;
    height: 61px;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .topnav__menu .button__icon {
    display: none;
  }
}
