.topnav__menu {
  margin: 0;
  padding-top: 48px;
  max-width: 1334px;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  background-color: #ecebe8;
  border-bottom: 1px solid #242424;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.topnav__menu.opened {
  display: flex;
}

@media screen and (min-width: 769px) {
  .topnav__menu {
    padding:  0 0 0 43px;
    height: 61px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
