.lead__info {
  margin: 0 auto 31px;
  padding: 0;
  font-family: "NeueMachina", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #242424;
}

@media screen and (min-width: 375px) {
  .lead__info {
    margin-left: 62px;
  }
}

@media screen and (min-width: 769px) {
  .lead__info {
    max-width: 400px;
    margin: 0 0 0 40px;
  }
}

@media screen and (min-width: 1440px) {
  .lead__info {
    margin: 0 0 212px 60px;
  }
}
