.top-nav__item {
  padding-top: 25px;
  width: max-content;
  list-style: none;
  cursor: pointer;
  font-family: 'Neue Machina', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.16px;
}
