.about__crew-span {
	margin: 0 16px;
	border: 0.5px solid #242424;
	border-bottom: none;
	border-top: none;
	width: 0;
	height: 32px;
	background-color: #242424;
	padding: 0;
}

/* .about__crew-span::before {
  content: "";
  position: absolute;

} */
