.lead__title {
  margin: 0 0 16px 0;
  padding: 0;
  font-family: "NeueMachina", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #242424;
}

@media screen and (min-width: 1440px) {
  .lead__title {
    margin-bottom: 37px;
    font-size: 72px;
  }
}
