.about__crew-time {
  font-family: 'NeueMachina', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -1px;
  overflow-y: hidden;
  margin: 0;
}
