.lead__button {
  width: min-content;
  margin: 0 auto;
  text-decoration: none;
}

@media screen and (min-width: 375px) {
  .lead__button {
    margin-left: 62px;
  }
}

@media screen and (min-width: 769px) {
  .lead__button {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__button {
    bottom: 57px;
    margin: 0;
  }
}
