.lead__button {
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .lead__button {
    margin-left: 62px;
  }
}

@media screen and (min-width: 1440px) {
  .lead__button {
    margin: 0;
  }
}
