@font-face {
  font-family: "Formular";
  src: url("formular-light.woff2") format("woff2"), url("formular-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("PPNeueMachina-Regular.woff2") format("woff2"),
    url("PPNeueMachina-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
