.header__button {
  margin: 0 0 58px 19px;
  padding: 9px 0 9px 10px;
  height: 32px;
  min-width: 115px;
  max-width: max-content;
  border-top: none;
  border-left: none;
  line-height: 0.87;
  text-decoration: none;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .header__button {
    margin: 0;
    min-width: 120px;
    max-width: max-content;
  }
}
