.header__button {
  margin-left: 20px;
  padding: 9px 25px 9px 10px;
  width: 115px;
  height: 31px;
  background-color: transparent;
  border-left: none;
  border-top: none;
  font-family: "Formular", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
}

@media screen and (min-width: 768px) {
  .header__button {
    padding-right: 0;
    width: 120px;
    position: absolute;
    top: 94px;
    left: 30px;
  }
}
