.hamburger {
  padding: 0;
  border: none;
  width: 72px;
  height: 72px;
  position: -webkit-sticky;
  position: fixed;
  top: 65%;
  right: 0;
  cursor: pointer;
  background-color: #242424;
  z-index: 101;
}

.hamburger.opened .hamburger__bar:nth-child(2) {
  opacity: 0;
}

.hamburger.opened .hamburger__bar:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

.hamburger.opened .hamburger__bar:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

@media screen and (min-width: 1024px) {
  .hamburger {
    top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hamburger {
    display: none;
  }
}
