.hamburger {
  width: 72px;
  height: 72px;
  display: block;
  cursor: pointer;
  background-color: black;
  z-index: 2;
}

.hamburger.opened .hamburger__bar {
  transform: rotate(-180deg);
}

@media screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
