.hamburger {
  width: 72px;
  height: 72px;
  position: -webkit-sticky;
  position: sticky;
  margin-left: calc(100vw - 72px);
  bottom: 128px;
  cursor: pointer;
  background-color: black;
  z-index: 101;
  /* border: none; */
}

.hamburger.opened .hamburger__bar {
  transform: rotate(-180deg);
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
