.top-nav__menu {
  margin: 0;
  padding-top: 48px;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  background-color: #ecebe8;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.top-nav__menu.opened {
  display: flex;
}

@media screen and (min-width: 769px) {
  .top-nav__menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
