/* .footer__nav:first-of-type {
  padding: 0 100px 0 0;
}
.footer__nav:last-of-type {
  padding: 0 0 0 77px;
}


@media screen and (min-width: 900px) and (max-width: 1024px) {
  .footer__nav:first-of-type {
    padding: 0 35px 0 0;
  }
  .footer__nav:last-of-type {
    padding: 0 0 0 25px;
  }
} */
