.lead__caption {
  margin: 0;
  padding: 56px 24px 100px 25px;
  font-family: "NeueMachina", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #242424;
}

@media screen and (min-width: 1440px) {
  .lead__caption {
    grid-row: 2;
    grid-column: 2;
    padding: 48px 130px 70px 0;
    font-size: 28px;
    line-height: 1.14;
  }
}
