.footer__address-first {
  margin: 0;
  padding: 0;
  grid-column: 1/3;
  font-family: "NeueMachina", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #242424;
}
