.footer {
  padding: 56px 0 0 58px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;

}

/* @media screen and (min-width: 1280px) {
  .footer{
    grid-template-columns: 210px max-content 1fr;
  }
} */
