.button-small {
  border: 1px solid #242424;
  color: #242424;
  text-decoration: none;

  box-sizing: border-box;
  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  position: relative;
  
  transition: 0.3s;
}
