.topnav__button-link {
  width: 100%;
  border-right: none;
  display: flex;
  justify-content: space-between;
  color: #242424;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s;
}

@media screen and (min-width: 1280px) {
  .topnav__button-link {
    padding: 0;
    height: min-content;
    align-items: center;
    border: none;
    font-size: 14px;
    line-height: 1.21;
  }

  .topnav__button-link:hover {
    background-color: transparent;
    color: #242424;
  }

  .topnav__button-link:active {
    outline: none;
  }
}
