.feedback__header {
  max-width: 718px;
  width: 100%;
  padding: 0 26px 24px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

@media screen and (min-width: 768px) {
  .feedback__header {
    padding: 0 0 55px;
  }
}
