.topnav__items {
  margin: 0;
  padding-left: 58px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .topnav__items {
    padding: 9px 39px 19px 33px;
    width: 100%;
    height: 100%;
    min-width: max-content;
    /* max-width: calc(944px - 72px); */
    display: flex;
    justify-content: space-between;
    order: 2;
    border-right: 1px solid #242424;
    box-sizing: border-box; 
  }

  .topnav__items li:first-of-type,
  .topnav__items li:last-of-type {
    display: none;
  }
}

/* @media screen and (min-width: 1280px) {
  .topnav__items li:not(:nth-last-of-type(2)) {
    padding-right: 34px;
  }
} */
