.button {
  min-width: 240px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-family: "Formular", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.375;
  color: #242424;
  text-transform: uppercase;
  outline: none;
  border: 1px solid #000;
  transition: 0.2s;
}

/* TEMPORARY SOLUTION */
.button:hover {
  background-color: #242424;
  cursor: pointer;
}

.button:hover {
  color: #fff;
}

.button:hover .button__icon {
  filter: invert(100%) sepia(64%) saturate(6%) hue-rotate(125deg)
    brightness(103%) contrast(101%);
}

.button:focus {
  outline: 2px solid #242424;
}

.button:active {
  outline: 3px solid #242424;
}
